/*Thanks Material Design Lite!*/
.center-me{
    text-align: center;
}
.dont-center-me{
    text-align: left;
}
.javascript{
    font-size: .8em;
}
.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.welcometag-table{
    display: table-row;
}
.welcometag-column-space, .welcometag-column-content{
    display: table-cell;
    vertical-align: middle;
    margin: 0;
}
.welcometag-column-space{
    width: 50%;
}
.welcometag-column-content{
    padding: 40px 40px 40px;
}

/* C = 2πr, so in one case C = 2π × 30 ≈ 189 */
/* 30 is set on 'r' or radius of Circle
#testingcircles circle {
  fill: yellowgreen;
  stroke: #655;
  stroke-width: 10;
  stroke-dasharray: 155 189;
}*/

#languageplaceholder svg, .mdl-list__item-secondary-action svg {
  width: 50px; height: 50px;
  transform: rotate(-18deg);
  background: yellowgreen;
  border-radius: 50%;
}

#languageplaceholder circle, .mdl-list__item-secondary-action circle {
  fill: yellowgreen;
  stroke: #655;
  stroke-width: 32;  
}